@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

// SCSS Variables
$pgn-color-primary: #AEC7F6;
$pgn-color-danger: #FFA07A;
$pgn-color-success: #54CF5E;
$pgn-color-background: #0D0D0E;
$brand: #ce80aa;

$pgn-color-primary-light: #292A2C;
$light-dark: #374151;
$pgn-color-text: #F8F8F8;
$pgn-color-text-primary: #DDDFE2;
$pgn-color-border: #777792;
$pgn-color-overlay: #36383B;
$pgn-color-button: #112F6B;
$pgn-color-hover: #383938;

$theme-colors-dark: () !default;
$theme-colors-dark: map-merge(
  (
    "primary":    $pgn-color-primary,
    "success":    $pgn-color-success,
    "danger":     $pgn-color-danger,
  ),
  $theme-colors-dark
);

// Primary color levels
$pgn-color-primary-100: mix(white, $pgn-color-primary, 94%);
$pgn-color-primary-200: mix(white, $pgn-color-primary, 75%);
$pgn-color-primary-300: mix(white, $pgn-color-primary, 50%);
$pgn-color-primary-400: mix(white, $pgn-color-primary, 25%);
$pgn-color-primary-500: $pgn-color-primary;
$pgn-color-primary-600: mix(black, $pgn-color-primary, 10%);
$pgn-color-primary-700: mix(black, $pgn-color-primary, 20%);
$pgn-color-primary-800: mix(black, $pgn-color-primary, 25%);
$pgn-color-primary-900: mix(black, $pgn-color-primary, 30%);

// Brand color levels
$brand-100: mix(black, $brand, 30%) !default;
$brand-200: mix(black, $brand, 25%) !default;
$brand-300: mix(black, $brand, 20%) !default;
$brand-400: mix(black, $brand, 10%) !default;
$brand-500: $brand !default;
$brand-600: mix(white, $brand, 25%) !default;
$brand-700: mix(white, $brand, 50%) !default;
$brand-800: mix(white, $brand, 75%) !default;
$brand-900: mix(white, $brand, 94%) !default;

// Success color levels
$pgn-color-success-100: mix(white, $pgn-color-success, 94%);
$pgn-color-success-200: mix(white, $pgn-color-success, 75%);
$pgn-color-success-300: mix(white, $pgn-color-success, 50%);
$pgn-color-success-400: mix(white, $pgn-color-success, 25%);
$pgn-color-success-500: $pgn-color-success;
$pgn-color-success-600: mix(black, $pgn-color-success, 10%);
$pgn-color-success-700: mix(black, $pgn-color-success, 20%);
$pgn-color-success-800: mix(black, $pgn-color-success, 25%);
$pgn-color-success-900: mix(black, $pgn-color-success, 30%);

// Danger color levels
$pgn-color-danger-100: mix(white, $pgn-color-danger, 94%);
$pgn-color-danger-200: mix(white, $pgn-color-danger, 75%);
$pgn-color-danger-300: mix(white, $pgn-color-danger, 50%);
$pgn-color-danger-400: mix(white, $pgn-color-danger, 25%);
$pgn-color-danger-500: $pgn-color-danger;
$pgn-color-danger-600: mix(black, $pgn-color-danger, 10%);
$pgn-color-danger-700: mix(black, $pgn-color-danger, 20%);
$pgn-color-danger-800: mix(black, $pgn-color-danger, 25%);
$pgn-color-danger-900: mix(black, $pgn-color-danger, 30%);

$theme-color-levels-dark: () !default;

$theme-color-levels-dark: map-merge(
  (
    "primary-100": $pgn-color-primary-100,
    "primary-200": $pgn-color-primary-200,
    "primary-300": $pgn-color-primary-300,
    "primary-400": $pgn-color-primary-400,
    "primary-500": $pgn-color-primary-500,
    "primary-600": $pgn-color-primary-600,
    "primary-700": $pgn-color-primary-700,
    "primary-800": $pgn-color-primary-800,
    "primary-900": $pgn-color-primary-900,
    "success-100": $pgn-color-success-100,
    "success-200": $pgn-color-success-200,
    "success-300": $pgn-color-success-300,
    "success-400": $pgn-color-success-400,
    "success-500": $pgn-color-success-500,
    "success-600": $pgn-color-success-600,
    "success-700": $pgn-color-success-700,
    "success-800": $pgn-color-success-800,
    "success-900": $pgn-color-success-900,
    "danger-100": $pgn-color-danger-100,
    "danger-200": $pgn-color-danger-200,
    "danger-300": $pgn-color-danger-300,
    "danger-400": $pgn-color-danger-400,
    "danger-500": $pgn-color-danger-500,
    "danger-600": $pgn-color-danger-600,
    "danger-700": $pgn-color-danger-700,
    "danger-800": $pgn-color-danger-800,
    "danger-900": $pgn-color-danger-900,
  ),
  $theme-color-levels-dark
);

$link-color:                              $pgn-color-primary-500;
$link-hover-color:                        darken($link-color, 15%);

$muted-link-color:                              $pgn-color-primary-500;
$muted-inline-link-color:                       $pgn-color-primary-500;
$muted-link-hover-color:                        darken($muted-link-color, 15%);
$muted-inline-link-decoration-color:            rgba($muted-inline-link-color, .3);
$muted-inline-link-hover-color:                 darken($muted-inline-link-color, 15%);

$component-active-bg:       $pgn-color-primary;

$custom-control-indicator-checked-color:        $component-active-bg;
$custom-control-indicator-checked-bg:           $component-active-bg;

$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M21 3H3V21H21V3ZM10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z' fill='#{$custom-control-indicator-checked-color}'/></svg>"), "#", "%23");
$custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{$custom-control-indicator-checked-bg}'/%3e%3c/svg%3e"), "#", "%23") ;

$input-focus-border-color:    $component-active-bg;
$input-btn-focus-color:       $component-active-bg;
$input-btn-focus-box-shadow:  0 0 0 var(--pgn-size-input-btn-focus-width) var(--pgn-color-input-focus);
$input-focus-box-shadow:      $input-btn-focus-box-shadow;